html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 800px;
  position: relative;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

#matrix {
  margin: auto;
}

@keyframes example {
  0% {
    color: #7aff84;
  }
  50% {
    color: #00cce0;
  }
  100% {
    color: #7aff84;
  }
}

.completed {
  color: #ffd700 !important;
}

.marked {
  color: #458345 !important;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.passed {
  color: #9eff9e;
}

td {
  font-size: 3ex;
  width: 4ex;
  height: 4ex;
}

#authors {
  color: #bbbbbb;
  font-weight: 200;
  font-size: 0.75em;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
#artist {
  float: left;
  text-align: left;
}
#developer {
  float: right;
  text-align: right;
}
