@import "hangman.css";
@import "wordsearch.css";

html, body {
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    color: white;
}

body{
    margin: auto;
    position: relative;
    max-width: 1000px;
}

a {
  color: currentColor;
  text-decoration: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#authors {
  display: flex;
  color: #bbbbbb;
  font-weight: 200;
  font-size: 1em;
  position: absolute;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}
