@import "../index.css";

@keyframes non-completed {
  from {
    color: #ffffff;
  }
  to {
    color: #000000;
  }
}

.active-matrix-mode {
  text-transform: uppercase;
}

.non-completed {
  animation-name: non-completed;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.marked {
  color: #9eff9e;
}

.just-marked {
  /*text-decoration: underline; */
  font-weight: 700;
}

.matrix td {
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}
