@import "../index.css";

#swap-row {
  margin: auto;
}

#swap-row td {
  font-size: 3em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: #bbbbbb;
}

#swap-row .S-found {
  color: #ffffff;
  /*font-weight: bold;*/
}
